<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../static/css/index.css" />
    <title>Conversion Rate - Conversion Site</title>
  </head>
  <body>
    <div class="header">
      <h2>Conversion Site</h2>
      <nav>
        <a href="home.html">Home</a>
        <a href="conversion_rate.html">Conversion Rate</a>
        <a href="history.html">History</a>
      </nav>
    </div>
    <div class="table">
      <table id="conversion_table">
        <thead>
          <tr>
            <th>ID</th>
            <th>From</th>
            <th>To</th>
            <th>Unit</th>
            <th>Conversion Rate</th>
            <th></th>
          </tr>
        </thead>
      </table>

      <br />
      <span id="msg" hidden></span>
    </div>

    <script src="./../static/js/conversion_rate.js"></script>
  </body>
</html>
